; A Matomo token for authentication to enable retrograde setting of timestamps.
; Needs to be set for CIMP to work. See https://matomo.org/faq/general/faq_114/
token_auth = '{{matomo_cleaninsights_token}}'

; Allowed CORS scheme/domain/port tuples. Defaults to none allowed.
;cors[] = 'https://{{matomo_domain}}'
; cors[] = 'https://example.com:3000'

; The base URL of your Matomo instance. Only needs to be set if CIMP is
; not installed inside the Matomo directory.ca
matomo_base_url = 'http://matomo-nginx'

; Number of created tracking requests to send to Matomo at once.
 chunk_size = 1000

; Number of seconds to wait before retry, if Matomo responded with an error.
delay_after_failure = 2

; Number of maximum retries on error.
max_attempts = 3

; Set to true to have a debug output in 'ciapi.log' in the same directory.
debug = true
