---
# {{ ansible_managed }}
version: '3.3'
services:
  matomo-mysql:
    image: "{{ mysql_image }}"
    volumes:
      - mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
      - MYSQL_DATABASE={{ matomo_db_name }}
      - MYSQL_USER={{ matomo_db_user }}
      - MYSQL_PASSWORD={{ matomo_db_password }}
    ports:
      - "127.0.0.1:3306:3306"

  matomo-app:
    image: matomo:fpm
    restart: always
    volumes:
      - matomo:/var/www/html
      - ./cleaninsights.php:/var/www/html/cleaninsights.php:ro
      - ./cleaninsights.ini:/var/www/html/cleaninsights.ini:ro
    environment:
      - MATOMO_DATABASE_HOST=matomo-mysql
      - PHP_MEMORY_LIMIT=2048M
      - MATOMO_DATABASE_DBNAME={{ matomo_db_name }}
      - MATOMO_DATABASE_PASSWORD={{ matomo_db_password }}
      - MATOMO_DATABASE_USERNAME={{ matomo_db_user }}

  matomo-redis:
    image: redis:7.2-rc1-alpine
    expose:
      - 6379

  matomo-nginx:
    build:
      context: ""
      dockerfile: Dockerfile-nginx
    image: matomo-nginx:latest
    restart: always
    volumes:
      - type: bind
        source: ./cleaninsights.php
        target: /var/www/html/cleaninsights.php
      - type: bind
        source: ./matomo.conf
        target: /etc/nginx/conf.d/default.conf
      - type: volume
        source: matomo
        target: /var/www/html
    environment:
      - VIRTUAL_HOST={{ matomo_domain }}
      - LETSENCRYPT_HOST={{ matomo_domain }}
      - LETSENCRYPT_EMAIL={{ matomo_letsencrypt_email }}

volumes:
  mysql:
  matomo:

# this needs to be here to allow the nginx-proxy containers installed
# by the ansible-docker-nginx-proxy role to talk to the matomo stack
networks:
  default:
    external:
      name: "nginx-proxy"
